[user]
	name = Anatolii Sakhnik
	email = sakhnik@gmail.com
[alias]
	lg = log --oneline --decorate --graph
	lga = log --all --oneline --decorate --graph
[color]
	ui = true
[push]
	default = simple
[merge]
	tool = vim
[mergetool "vim"]
	cmd = vim \"+Gdiff\" $MERGED
	keepBackup = false
[diff]
	submodule = log
