[user]
	name = Anatolii Sakhnik
	email = anatolii.sakhnik@lge.com
[alias]
	review = push origin HEAD:refs/for/master
	draft = push origin HEAD:refs/drafts/master
	ctags = !.git/hooks/ctags
[color]
	ui = true
[commit]
	template = /home/sakhnik/.git-templates/commit-template.txt
[init]
	templatedir = /home/sakhnik/.git-templates/skel
[push]
	default = simple
[core]
	excludesfile = /home/sakhnik/.git-templates/ignore
[merge]
	tool = vim
[mergetool "vim"]
	cmd = vim \"+Gdiff\" $MERGED
	keepBackup = false
