[submodule ".vim/bundle/pathogen"]
	path = .vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/gundo"]
	path = .vim/bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule ".vim/bundle/vis"]
	path = .vim/bundle/vis
	url = git://github.com/vim-scripts/vis.git
[submodule ".vim/bundle/airline"]
	path = .vim/bundle/airline
	url = https://github.com/bling/vim-airline
[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/unimpaired"]
	path = .vim/bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule ".vim/bundle/ycm"]
	path = .vim/bundle/ycm
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule ".vim/bundle/conque-gdb"]
	path = .vim/bundle/conque-gdb
	url = https://github.com/vim-scripts/Conque-GDB.git
[submodule ".vim/bundle/bitbake"]
	path = .vim/bundle/bitbake
	url = https://github.com/kergoth/vim-bitbake.git
[submodule ".vim/bundle/kolor"]
	path = .vim/bundle/kolor
	url = https://github.com/zeis/vim-kolor.git
[submodule ".vim/bundle/zenburn"]
	path = .vim/bundle/zenburn
	url = https://github.com/jnurmine/Zenburn.git
[submodule ".vim/bundle/csapprox"]
	path = .vim/bundle/csapprox
	url = https://github.com/godlygeek/csapprox.git
[submodule ".vim/bundle/solarized"]
	path = .vim/bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/lemon"]
	path = .vim/bundle/lemon
	url = https://github.com/vim-scripts/lemon.vim.git
[submodule ".vim/bundle/surround"]
	path = .vim/bundle/surround
	url = http://github.com/tpope/vim-surround
[submodule ".vim/bundle/fontsize"]
	path = .vim/bundle/fontsize
	url = https://github.com/drmikehenry/vim-fontsize
[submodule ".vim/bundle/textobj-lastpat"]
	path = .vim/bundle/textobj-lastpat
	url = https://github.com/kana/vim-textobj-lastpat
[submodule ".vim/bundle/textobj-user"]
	path = .vim/bundle/textobj-user
	url = https://github.com/kana/vim-textobj-user
[submodule ".vim/bundle/visual-star-search"]
	path = .vim/bundle/visual-star-search
	url = https://github.com/nelstrom/vim-visual-star-search
[submodule ".vim/bundle/abolish"]
	path = .vim/bundle/abolish
	url = https://github.com/tpope/vim-abolish
[submodule ".vim/bundle/repeat"]
	path = .vim/bundle/repeat
	url = https://github.com/tpope/vim-repeat
