[user]
	name = Anatolii Sakhnik
	email = sakhnik@gmail.com
[alias]
	lg = log --oneline --decorate --graph
	lga = log --all --oneline --decorate --graph
[color]
	ui = true
[push]
	default = simple
[merge]
	tool = vimdiff
	conflictstyle = diff3
	prompt = false
[mergetool]
	keepBackup = false
[mergetool "vimdiff"]
	cmd = nvim -d $LOCAL $BASE $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[diff]
	submodule = log
	tool = vimdiff
